<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express Dev Skills</title>
</head>
<body>
  <a href="/">Home</a>
  <a href="/skills">Level Reached</a>
  <div>
      <h1>Novice</h1>
      <ul>
        <% noviceSkills.forEach(function(s) { %>
          <li>
            <a href="/skills/<%= s.id %>"><%= s.skill %></a>
          </li>
        <% }); %>
      </ul>
  </div>
  <div>
    <h1>Competent</h1>
    <ul>
      <% competentSkills.forEach(function(s) { %>
        <li>
          <a href="/skills/<%= s.id %>"><%= s.skill %></a>
        </li>
      <% }); %>
    </ul>
    </div>
    <div>
    <h1>Proficient</h1>
    <ul>
      <% proficientSkills.forEach(function(s) { %>
        <li>
          <a href="/skills/<%= s.id %>"><%= s.skill %></a>
        </li>
      <% }); %>
    </ul>
    </div>
</body>
</html>