<%- include('../partials/header') %>
<h1>Skills as of <%= time %></h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Skill</th>
      <th>Level</th>
    </tr>
  </thead>
  <tbody class="table-primary">
    <% noviceSkills.forEach(function(s) { %>
      <tr>
        <td><a href="/skills/<%= s.id %>"><%= s.skill %></a></td>
        <td><%= s.level %></td>
        <td>
          <form action="/skills/<%= s.id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">X</button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
    <tbody class="table-success">
      <% competentSkills.forEach(function(s) { %>
        <tr>
          <td><a href="/skills/<%= s.id %>"><%= s.skill %></a></td>
          <td><%= s.level %></td>
          <td>
            <form action="/skills/<%= s.id %>?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger">X</button>
            </form>
          </td>
        </tr>
        <% }); %>
      </tbody>
      <tbody class="table-danger">
        <% proficientSkills.forEach(function(s) { %>
          <tr>
            <td><a href="/skills/<%= s.id %>"><%= s.skill %></a></td>
            <td><%= s.level %></td>
            <td>
              <form action="/skills/<%= s.id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">X</button>
              </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
<%- include('../partials/footer') %>